<!DOCTYPE html>
<html lang="fa" dir="rtl">
<head>
    <meta charset="UTF-8">
    <script src="https://cdn.tailwindcss.com"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="../static/images/favicon.jpg" type="image/x-icon">
    {% block head %}{% endblock %}
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
<nav class="px-6 py-5 justify-between items-center border-b border-green-200">
    <div class="space-x-6">
        <a href="{% url "home" %}" class="px-6 py-2 text-xl bg-red-500 rounded-xl ">Digikal</a>
        {% if user.is_superuser or user.is_staf %}
            <a href="#" class="text-lg hover:text-gray-500">افزودن محصول</a>
        {% elif user.is_authenticated %}
            <a href="{% url "profile" %}" class="px-6 py-3 text-lg bg-teal-500 text-white rounded-xl">{{ user.username }}</a>
        {% else %}
            <a href="{% url "login" %}" class="px-6 py-2 text-lg bg-teal-500 text-white rounded-xl hover:bg-teal-700">ورود / ثبت نام</a>
        {% endif %}
    </div>
</nav>
<div class="px-6 py-6">
    {% block content %}
    {% endblock %}
</div>
</body>
</html>