{% extends "base.html" %}

{% block title %}{{ product.name }}{% endblock %}

{% block content %}
    <div class="grid grid-cols-5 gap-6">
        <div class="col-span">
            <img src="{{ product.image.url }}" alt="product_image" class="rounded-xl">
        </div>
        <div class="col-span p-6 bg-gray-100 rounded-xl">
            <h2 class="mb-6 text-3xl">{{ product.name }}</h2>
            <p class="text-gray-500"><strong>قیمت: </strong>{{ product.price }}</p>
            <p class="text-gray-700"><strong class="text-gray-500">توضیحات: </strong><br>{{ product.description }}</p>
        </div>
    </div>
    <div class="mt-6 px-6 py-12 bg-gray-100">
        <h2 class="mb-12 text-2xl text-center">محصولات مرتبط</h2>
        <div class="grid grid-cols-6 gap-3">
            {% for product in related_products %}
                <div>
                    <div>
                        <a href="{% url "product:detail" product.id %}">
                            <div>
                                <img src="{{ product.image.url }}" alt="product_img" class="rounded-t-xl">
                            </div>
                            <div class="p-6 bg-white rounded-b-xl">
                                <h2 class="text-2xl">{{ product.name }}</h2>
                                <p class="text-gray-500">قیمت: {{ product.price }} تومان </p>
                                {% if product.count <= 5 %}
                                    <p class="text-red-500">فقط {{ product.count }} عدد در انبار باقی مانده</p>
                                {% endif %}
                            </div>
                        </a>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}