{% extends "base.html" %}
{% block title %}home{% endblock %}
{% block content %}
    {% for product in products %}
        <div>
            <div class="card col-sm-6" style="width: 18rem;">
                <a href="{% url "product:detail" product.id %}">
                    <div>
                        {{ product.image }}
                    </div>
                    <div>
                        <h2>{{ product.name }}</h2>
                        <p>قیمت: {{ product.price }} تومان </p>
                    </div>
                </a>
            </div>
        </div>
    {% endfor %}
{% endblock %}