{% extends "base.html" %}

{% block head %}

{% endblock %}

{% block title %}Login{% endblock %}

{% block content %}
    <div class="w-1/2 my-6 mx-auto p-6 bg-gray-100 rounded-xl">
        <form>
            <label for="username"></label>
            <input class="rounded-xl" type="text" id="username" name="username" placeholder="نام کاربری" required><i
                class=""></i>
            <br><label for="password"></label>
            <br><input class="rounded-xl" type="password" id="password" name="password" placeholder="رمز" required><i
                class="validation"></i><br>
            <input type="checkbox" onclick="show_password()">نمایش رمز<br>
            <br><input class="px-2 bg-sky-500 text-white rounded-xl hover:bg-sky-700" type="submit" id="login"
                       value="ورود">
            <p>عضو نیستید؟ <a href="{% url "signup" %}">ثبت نام کنید</a></p>
        </form>
    </div>
{% endblock %}