{% extends "base.html" %}

{% block head %}

{% endblock %}

{% block title %}Login{% endblock %}

{% block content %}
    <div class="w-1/2 my-6 mx-auto p-6 bg-gray-100 rounded-xl">
        <h1 class="mb-6 text-3xl flex items-center justify-center">ورود</h1>
        <form method="post" action="{% url 'auth:login' %}" onsubmit="login(event, this)">
            {% csrf_token %}
            {% if errors %}
                <ul class="text-red-500">
                    {% for field_errors in errors.values %}
                        {% for error in field_errors %}
                            <li>{{ error }}</li>
                        {% endfor %}
                    {% endfor %}
                </ul>
            {% endif %}
            <div class="mb-3 flex items-center justify-center">
                <label for="loginUserName" class="inline-block mb-2">نام کاربری</label><br>
                <input id="loginUserName" class="rounded-xl" type="text" name="username">
            </div>
            <div class="mb-3 flex items-center justify-center">
                <label for="loginPassword" class="inline-block mb-2">رمز</label><br>
                <input id="loginPassword" class="rounded-xl" type="password" name="password">
                <input type="checkbox" onclick="show_pass()">نمایش رمز
            </div>
            <div class="flex items-center justify-center">
                <button class="px-2 text-lg bg-sky-500 hover:bg-sky-700 rounded-xl text-white">وارد شوید</button>
            </div>
            <p class="flex items-center justify-center">عضو نیستید؟ <a href="{% url "auth:signup" %}">ثبت نام کنید</a>
            </p>
        </form>
    </div>
    <script>
        async function login(event, el) {
            event.preventDefault();
            const formData = new FormData(el);
            const urlEncodedData = new URLSearchParams(formData).toString();

            const response = await fetch(el.action, {
                method: el.method,
                headers: {
                    'Content-Type': 'application/x-www-form-urlencoded'
                },
                body: urlEncodedData
            });

            if (response.status === 200) {
                window.location.replace("/user/profile/");
            } else {
                alert("نام کاربری یا رمز اشتباه است");
            }
        }

        function show_pass() {
            let x = document.getElementById("loginPassword");
            if (x.type === "password") {
                x.type = "text";
            } else {
                x.type = "password";
            }
        }
    </script>
{% endblock %}