{% extends "base.html" %}

{% block head %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <style>
        .float-container {
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .float-child {
            float: right;
        }
    </style>
{% endblock %}

{% block title %}profile{% endblock %}

{% block content %}
    <div class="float-container">
        <div style="max-width: 265px" class="ml-10 float-child rounded-xl border border-red-500 p-2">
            <p class="py-4 text-center" style="font-size:20px">خوش آمدید {{ user.username }}</p>
            <hr class="h-px my-4 bg-yellow-500 border-0">
            <span class="fa fa-user-o pl-2 mt-5"></span><a href="{% url 'auth:information' %}" class="hover:text-gray-500" style="font-size:17px">مشاهده و
                تغییر
                اطلاعات کاربری</a>
            <hr class="h-px my-2 bg-gray-300 border-0">
            <span class="fa fa-bookmark-o pl-2"></span><a href="#" class="hover:text-gray-500" style="font-size:17px">محصولات ذخیره شده</a>
            <hr class="h-px my-2 bg-gray-300 border-0">
            <span class="fa fa-shopping-bag pl-2"></span><a href="#" class="hover:text-gray-500" style="font-size:17px">سفارش ها</a>
            <hr class="h-px my-2 bg-gray-300 border-0">
            <span class="fa fa-comment-o pl-2"></span><a href="#" class="hover:text-gray-500" style="font-size:17px">دیدگاها</a>
            <hr class="h-px my-2 bg-gray-300 border-0">
            <span class="fa fa-building-o pl-2"></span><a href="{% url 'auth:addresses' %}" class="hover:text-gray-500" style="font-size:17px">آدرس ها</a>
            <hr class="h-px my-2 bg-gray-300 border-0">
            <span class="fa fa-sign-out pl-2"></span><a href="{% url 'auth:logout' %}" class="hover:text-gray-500" style="font-size:17px">خروج</a>
        </div>
        <div style="max-width: 1000px" class="float-child rounded-xl border border-red-500 p-5">
            <h1 class="mb-10">سفارش های من</h1>
            <div class="float-container">
                <div class="float-child border-l border-gray-300 p-5">
                    <a href="#">
                        <div class="float-child">
                            <img src="/static/images/status-processing.svg" alt="processing_img">
                        </div>
                        <div class="float-child mt-3 mr-4 ml-12 pl-12">
                            <p>0 سفارش</p>
                            <p>جاری</p>
                        </div>
                    </a>
                </div>
                <div class="float-child border-l border-gray-300 p-5">
                    <a href="#">
                        <div class="float-child">
                            <img src="/static/images/status-delivered.svg" alt="processing_img">
                        </div>
                        <div class="float-child mt-3 mr-4 ml-12 pl-12">
                            <p>0 سفارش</p>
                            <p>تحویل شده</p>
                        </div>
                    </a>
                </div>
                <div class="float-child p-5">
                    <a href="#">
                        <div class="float-child">
                            <img src="/static/images/status-returned.svg" alt="processing_img">
                        </div>
                        <div class="float-child mt-3 mr-4 ml-12 pl-12">
                            <p>0 سفارش</p>
                            <p>مرجوع شده</p>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}