{% extends "base.html" %}

{% block title %}Signup{% endblock %}

{% block content %}
    <div class="w-1/2 my-6 mx-auto p-6 bg-gray-100 rounded-xl">
        <h1 class="mb-6 text-3xl flex items-center justify-center">ثبت نام</h1>
        <form method="post" action=".">
            {% csrf_token %}
            {{ form.non_field_errors }}

            <div class="mb-3 flex items-center justify-center">
                <label class="inline-block mb-2">نام کاربری</label><br>
                {{ form.username }}
            </div>
            <div class="mb-3 flex items-center justify-center">
                <label class="inline-block mb-2">رمز</label><br>
                {{ form.password1 }}
            </div>
            <div class="mb-3 flex items-center justify-center">
                <label class="inline-block mb-2">تکرار رمز</label><br>
                {{ form.password2 }}
            </div>

            <div class="flex items-center justify-center">
                <button class="px-2 text-lg bg-sky-500 hover:bg-sky-700 rounded-xl text-white">ثبت نام</button>
            </div>
            <p class="flex items-center justify-center">عضو هستید؟ <a href="{% url "login" %}">وارد شوید</a></p>
        </form>
    </div>
{% endblock %}